{% extends "layout.html" %}


{% block title %}   
    Edit Recipes
{% endblock %}


{% block content %}
    <br>
    <div class='container'>
        <h1>Edit Recipes</h1>
    </div>

    <br>
<form class='container' method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Recipe Name</label>
      <input name='recipe_name' value={{query.name}} type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea name='recipe_desc' class="form-control" id="exampleFormControlTextarea1" rows="3">{{query.descriptions}}</textarea>
      </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Upload Image</label>
        <input name='recipe_img' type="file" class="form-control" id="exampleInputPassword1">
    </div>
   
    <button type="submit" class="btn btn-success">Update</button>
  </form>
  <div class='container mt-2'>
  <a href="{% url "Display_Recipes" %}" class="btn btn-danger">Cancel</a>
  </div>

{% endblock %}

